{{#if errorOcurred}}
                <p>Internal server error, try again later!</p>
            {{else}}
                
                {{#if songs.length}}
                    {{!-- Displaying the songs --}}
                    <ul>
                    {{#each songs}}

                    <div class="hvr" style="display:flex; position:relative; left:50px; border-bottom: solid 1px gray; width:1510;">
                        <div style="width:150px;"><span  class="sng" >{{id}} {{name}}</span> </div>
                        <div style=" max-width:fit-content; margin:auto; "><span class="sng" >{{artist}}</span></div>


                        <div class="dropdown" style=" position:absolute; left:1150px; ">                      
                                <div class = "opt" ; > <img src="add.png"> </div>
                            <div class="dropdown-content"  style="position: absolute; top: -25px; left:30px;">  
                                <form action="" method="post">
                                    <input type="text" value="{{id}}" class="lgout" name="songId" style="visibility: hidden;"> </input>
                                        {{#each ../playlists}}
                                            <a id="txt">
                                            {{name}} 
                                            <input type="submit" value="{{id}}" class="fix" name="playlistId" > <br></input>
                                            </a>
                                        {{/each}}
                                </form>
                            </div>
                       </div>
                        
                        <div style=" max-width:fit-content;"><span class="sng" >{{length}}</span></div>

                     </div>
                        
                    {{/each}}
                    </ul>
                    {{else}}
                        <p>There are no songs.</p>
                {{/if}}
                
            {{/if}}