<html>
    <head>
  <title>Users</title>

     
        
    </head>
    <body onload="navText()">
      <div class="scroll" style="width:105.8%; overflow-x: hidden; ">
      <br>
      <br>
      {{#if errorOcurred}}
        <p>Internal server error, try again later!</p>
      {{else}}
        {{#if users.length}}
        {{!-- Displaying the users --}}
        {{#each users}}
          <div class="hvr prf"> 
            <a href="/users/{{id}}">
            <img src={{picture}} id="profilePicSquare" class="image"> 
            <span id="txt">{{name}}</span> 
            </a>
          </div>
        {{/each}}
        {{else}}
          <p>There are no users.</p>
        {{/if}}                
        {{/if}}

      </div>

    <script>
    function navText() {
      document.getElementsByClassName("text_selected")[0].className="text_unselected";
      document.getElementsByClassName("text_unselected")[3].className="text_selected";
    }
    </script>
    </body>
</html>